@import "../node_modules/bootstrap/scss/bootstrap";


@import "common"; // Path to your common.scss file

body {
  font-size: $font-xlm;
  line-height: $line-m;
}

.section {
  margin-bottom: $gutter-md;
  padding: $gutter-sm $gutter-md;
}

// Your other global styles

.example-class {
  @include mobile {
    // Styles for mobile view
    background-color: red;
  }

  @include tablet {
    // Styles for tablet view
    background-color: blue;
  }

  @include desktop {
    // Styles for desktop view
    background-color: green;
  }
}

