<!-- <div class="content">
  <span>{{ title }} app is running!</span>
</div> -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand dark" href="/">{{title}}</a>

    <!-- Hamburger Menu Toggle for Mobile -->
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon dark"></span>
    </button> 
   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="bg-body-secondary text-center py-4">
  <div class="container">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Terms of Use</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
    </ul>
  </div>
</footer> -->






