<div>
  <app-searchbar (searchClicked)="onSearchClicked($event)"></app-searchbar>
  <div class="container">
    <div class="sidebar">
      <app-Sidebar
        (filterByStarRating)="applyFilterByStarRating($event)"
      ></app-Sidebar>
    </div>
    <div class="product-items">
      <div class="filter-dropdown">
        <!-- Dropdown menu -->
        <select
          class="mb-2"
          [(ngModel)]="selectedSortOption"
          (ngModelChange)="onSortBy()"
        >
          <option value="" selected disabled>Sort By</option>
          <option value="alphabetical">A to Z</option>
          <option value="reverseAlphabetical">Z to A</option>
          <option value="priceLowToHigh">Low to High</option>
          <option value="priceHighToLow">High to Low</option>
        </select>
      </div>
      <div>
        <app-productitems
          [products]="
            filteredProducts
              | filterByStarRating : selectedRating
              | sort : selectedSortOption
          "
        ></app-productitems>
      </div>
    </div>
  </div>
</div>
